.whosturn {
  min-height: 10vh;
  padding: 10px;
  margin: 10px;
}
.scoreshow {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  width: 50vh;
  text-align: center;
  margin-top: 5vh;
  .wins {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  @media (min-width: 768px) {
    width: 100vh;
  }
}
.hide-mobile {
  display: none;
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    .wins {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: inherit;
          -ms-flex-flow: inherit;
              flex-flow: inherit;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      text-align: center;
    }
  }
}
.hide-tablet {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
@-webkit-keyframes win-pop {
  0% {
    font-size: 4.1em;
    color: lighten(@color6, 20%);
    margin-left: -0.35em;
  }
  25%{
  }
  50% {
    font-size: 5.3em;
    color: lighten(@color6, 10%);
    margin-left: -0.35em;
  }
  75%{
  }
  100% {
    color: @color6;
    font-size: 4.2em;
    margin-left: -0.35em;
  }
}
@keyframes win-pop {
  0% {
    font-size: 4.1em;
    color: lighten(@color6, 20%);
    margin-left: -0.35em;
  }
  25%{
  }
  50% {
    font-size: 5.3em;
    color: lighten(@color6, 10%);
    margin-left: -0.35em;
  }
  75%{
  }
  100% {
    color: @color6;
    font-size: 4.2em;
    margin-left: -0.35em;
  }
}

@-webkit-keyframes win-pop {
  0% {
    font-size: 4.1em;
    color: lighten(@color6, 20%);
    margin-left: -0.35em;
  }

  50% {
    font-size: 5.3em;
    color: lighten(@color6, 10%);
    margin-left: -0.35em;
  }

  100% {
    color: @color6;
    font-size: 4.2em;
    margin-left: -0.35em;
  }
}

@-webkit-keyframes value-insert {
  0% {
    font-size: 4.1em;
    color: lighten(@color6, 20%);
    margin-left: -0.35em;
  }
  25%{
  }
  50% {
    font-size: 4.3em;
    color: lighten(@color6, 10%);
    margin-left: -0.35em;
  }
  75%{
  }
  100% {
    color: @color6;
  }
}

@keyframes value-insert {
  0% {
    font-size: 4.1em;
    color: lighten(@color6, 20%);
    margin-left: -0.35em;
  }
  25%{
  }
  50% {
    font-size: 4.3em;
    color: lighten(@color6, 10%);
    margin-left: -0.35em;
  }
  75%{
  }
  100% {
    color: @color6;
  }
}

@-webkit-keyframes value-insert {
  0% {
    font-size: 4.1em;
    color: lighten(@color6, 20%);
    margin-left: -0.35em;
  }
  25%{
  }
  50% {
    font-size: 4.3em;
    color: lighten(@color6, 10%);
    margin-left: -0.35em;
  }
  75%{
  }
  100% {
    color: @color6;
  }
}

.square {
  position: relative;
  float: left;
  min-width: 2em;
  width: 33.333333333%;
  min-height: 100px;
  height: 33.333333333%;
  cursor: pointer;
  will-change: border-color;
  border-color: #111;
  border-width: 2px;
  text-align: center;
  font-size: 2em;
  max-width: 33.333333333%;
  &.Center {
    border-style: solid;
  }
  &.Top {
    border-style: solid;
    border-top-style: none;
  }
  &.Bottom {
    border-style: solid;
    border-bottom-style: none;
  }
  &.Left {
    clear: both;
    border-style: solid;
    border-left-style: none;
  }
  &.Right {
    border-style: solid;
    border-right-style: none;
  }
  &.BottomLeft {
    border-style: solid;
    border-bottom-style: none;
    border-left-style: none;
  }
  &.BottomRight {
    border-style: solid;
    border-bottom-style: none;
    border-right-style: none;
  }
  &.TopLeft {
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
  }
  &.TopRight {
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
  }
  .value {
    position: absolute;
    padding: 0;
    vertical-align: middle;
    font-size: 4em;
    line-height: 90%;
    &.blink {
      color: @color6;
      animation: win-pop 0.7s ease-in-out ;
      -webkit-animation: win-pop 0.7s ease-in-out ;
      margin-left: -0.35em;
    }
    &.O:not(.blink){
      margin-left: -0.4em;
      animation: value-insert 0.3s ease-in-out ;
      -webkit-animation: value-insert 0.3s ease-in-out ;
    }
    &.X:not(.blink){
      margin-left: -0.3em;
      animation: value-insert 0.3s ease-in-out ;
      -webkit-animation: value-insert 0.3s ease-in-out ;
    }
  }
}
