<div>

  <div class="container col-md-offset-2 col-md-8">

    <div class="bg-primary">
      <div class="text-center whosturn">
        <h3 class="">
          Reset Password
        </h3>
      </div>
    </div>
    <div >
      <div class="row">
        <p class="text-center text-info">
          Enter your email so we can send you a reset link</p>
      </div>

      <form name="loginForm">
        <div class="form-group">
          <label>
            Email
          </label>
          <input class="form-control" type="text" ng-model="resetpw.credentials.email" aria-label="email" required/>
        </div>
        <div class="">
          <button class="btn btn-primary" ng-click="resetpw.reset()" aria-label="reset"
                     ng-disabled="resetpw.resetForm.$invalid()">Send Email
          </button>
        </div>
      </form>
      <div ng-show="resetpw.error" class="text-center whosturn bg-danger">
        <p class="">{{ resetpw.error.reason }}</p>
      </div>
    </div>

  </div>
</div>
